<div class="container">
  <div class="logo mb-3">XO</div>
  <h3>Reactive Form using state</h3>
  <span
    >Register
    <i
      class="uil uil-info-circle"
      title="Enter the data and see the effect of your actions on the other side 😀 If you go back to the menu, the state of your controls will be saved you don't have to worry about losing already filled cells 😉"
    ></i
  ></span>
  <div class="row gap-4">
    <app-from class="col-lg-4 col-md-5 col-lg-sm-12"></app-from>
    <app-second-form class="col-lg-4 col-md-5 col-lg-sm-12"></app-second-form>
    <app-results class="col-lg-3 col-md-12 col-lg-sm-12"></app-results>
  </div>
</div>
