<div class="select border">
    <div class="select-header">
      <h5>Select</h5>
      <div class="select-header-wrapper border">
        <span
          *ngFor="let item of (selectedItems$ | async)"
          class="selected-item"
          >{{ item }} <i (click)="onItemSelect(item)" class="uil uil-times-circle"></i
        ></span>
      </div>
    </div>
    <div class="wrapper">
      <ul>
        <li *ngFor="let item of items">
          {{item.label}}
          <ul>
            <li *ngFor="let item of item.items">
              <div class="form-check">
                <input
                  (change)="onItemSelect(item.label)"
                  type="checkbox"
                  class="form-check-input"
                  [value]="item.label"
                  [checked]="(selectedItems$ | async)?.includes(item.label)"
                />
                <label class="form-check-label">
                  {{ item.label }}
                </label>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>