<div class="container">
  <div class="logo mb-3">XO</div>
  <h3>Columns example</h3>
  <div class="d-flex gap-4">
    <button class="btn btn-primary" (click)="onMultiselect()">
      multiply select
    </button>
    <button class="btn btn-warning" *ngIf="selectMode" (click)="deleteSelected()">
      delete selected
    </button>
  </div>
  <div class="row gap-4">
    <table cdk-table [dataSource]="data">
      <ng-container
        *ngFor="let item of columnDef"
        cdkColumnDef="{{ item.cdkColumnDef }}"
      >
        <th cdk-header-cell *cdkHeaderCellDef>{{ item.cdkColumnDefTitle }}</th>
        <td cdk-cell *cdkCellDef="let element" (click)="addItem(element.id)" [ngClass]="{'selected': selectedItem.includes(element.id)}">
          {{ element[item.cdkColumnDef] }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="viewMore">
        <th cdk-header-cell *cdkHeaderCellDef>View More</th>
        <td cdk-cell *cdkCellDef="let element">
          <button class="btn btn-primary" (click)="onShowDetails(element.id)">
            Show more
          </button>
        </td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="filteredColumnDef"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: filteredColumnDef"></tr>
    </table>
  </div>
</div>
