<div class="container">
  <div class="content">
    <app-card>
      <div class="d-flex justify-content-center flex-wrap gap-5">
        <div class="logo mb-3">XO</div>
        <div class="greeting">Welcome on my training ground</div>
        <div class="nav flex-column" cdkMenu>
          <button routerLink="/reactive-forms" class="btn btn-primary btn-block" cdkMenuItem>
            Reactive forms
          </button>
          <button routerLink="/multiselects" class="btn btn-primary btn-block" cdkMenuItem>
            Multiselect
          </button>
          <button routerLink="/api" class="btn btn-primary btn-block" cdkMenuItem>
            Api Requests
          </button>
        </div>
        <div class="award col-3">
          <hr />
          <a href="#">check out my github</a>
          <hr />
        </div>
        <div class="credits">Created with ❤ be <a href="#">OXY</a></div>
      </div>
    </app-card>
  </div>
</div>
